In [2]:
#Novera Maaz
#DS COHORT 4-VIOLET


#Task 01 variable data types

Name = "Novera Maaz"
Age = 32
Student = True 
print (Name)
print (Age)
print (Student)
age_25 = Age + 25 #age added 25
print(f"Smith {Name}") 
print(age_25)
print(not Student)

Novera Maaz
32
True
Smith Novera Maaz
57
False

In [5]:
#Task 02  (a) Expressions and Operators

length = 5.5 #units
width = 3.25 #units

area = length * width   #calculate the area of rectangle
print("The area of rectangle is : ",area)

The area of rectangle is :  17.875

In [6]:
#Task 02(b)

celcius = 40
farenhiet = celcius *9/5 
print ("The temperature in farenhiet is : ", farenhiet)

The temperature in farenhiet is :  72.0

In [10]:
#Task 02 (c)

radius = 5
area= 3.14159 *(radius**2)

print (f"The area of circle with radius {radius} is: {area}")

The area of circle with radius 5 is: 78.53975

In [11]:
#Task 03 (a) Introduction to data structures

fruits = ["apple","banana","orange","grape","kiwi"]
print (fruits)

['apple', 'banana', 'orange', 'grape', 'kiwi']

In [12]:
#task 03(b)
months= ("january","february","March")
print(months)

('january', 'february', 'March')

In [14]:
#Task 04(a) List manipulation

numbers=[12,34,45,67,89,100,23,56]
total_sum=sum(numbers)
average= total_sum/8
print (f"the total sum of list {total_sum}")

print(f"The average of list is {average}")

the total sum of list 426
The average of list is 53.25

In [18]:
#Task 04(b)
fruits = ["apple","banana","orange","grape","kiwi"]
fruits.pop(0)
fruits.pop(3)
print(fruits)

['banana', 'orange', 'grape']

In [20]:
#Task 05(a)
capitals={"USA: Washongton DC","France:Paris","Japan:Tokyo"}
print(capitals)

{'Japan:Tokyo', 'USA: Washongton DC', 'France:Paris'}

In [24]:
#Task 05(b)
capitals={"USA": "Washongton DC","France":"Paris","Japan":"Tokyo"}
capitals["Germany"]="Berlin"
print(capitals)

{'USA': 'Washongton DC', 'France': 'Paris', 'Japan': 'Tokyo', 'Germany': 'Berlin'}

In [25]:
#task 05(c)
capitals={"USA": "Washongton DC","France":"Paris","Japan":"Tokyo"}
if "France" in capitals:
    print("France is in the dictionary")
else:
    print("France is not in the dictionary")

France is in the dictionary

In [28]:
#Task 06 (a) Comaparision operators, Logical operators
number=int(input("Please enter a number: "))
if number %2==0:
    print("The entered number is even")
else:
    print("The number is Odd")

Please enter a number: 6
The entered number is even

In [32]:
#task 06 (b) 
age = 25
CGPA = 3.4
if age >18  and CGPA >= 3.0:
    print("Elegible for admission")
else:
    print("Not eligible for admission")

Elegible for admission

In [33]:
#Task 7(a) Advanced data types
fruits_set=("apple","banana","orange","grape","kiwi")
print(fruits_set)

('apple', 'banana', 'orange', 'grape', 'kiwi')

In [37]:
#Task 7 (b) #Union of two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7}

union_Set=set1.union(set2)
print(union_Set)

{1, 2, 3, 4, 5, 6, 7}

In [38]:
#intersection of two sets
set1={1,2,3,4,5}
set2={3,4,5,6,7}

intersection_set=set1.intersection(set2)
print(intersection_set)

{3, 4, 5}

In [39]:
#Difference between 2 sets
set1={1,2,3,4,5}
set2={3,4,5,6,7}

difference_Set=set1.difference(set2)
print(difference_Set)

{1, 2}

In [41]:
#Check subset
set1={1,2,3,4,5}
set2={3,4,5,6,7}

sub_set=set1.issubset(set2)
print(sub_set)

False

In [42]:
#Task 8 Strings manipulation
my_string = "Python programming is fun and powerful!"
length_string=len(my_string)
print(f"The length of my string is {length_string}")

The length of my string is 39

In [44]:
#Convert to Upper case
my_string = "Python programming is fun and powerful!"
string_case=my_string.upper()
print(f"The original string is: {my_string}\n string in upper case is : {string_case}")

The original string is: Python programming is fun and powerful!
 string in upper case is : PYTHON PROGRAMMING IS FUN AND POWERFUL!

In [45]:
#Replacing in a string
my_string = "Python programming is fun and powerful!"
string_replace = my_string.replace("fun","exciting")
print (string_replace)

Python programming is exciting and powerful!

In [54]:
#check a word
my_string = "Python programming is fun and powerful!"
if "Python" in my_string:
    print("Python is present")
else:
    print("word not present")

Python is present

In [56]:
#split in list
my_string = "Python programming is fun and powerful!"
list_string= my_string.split()
print(list_string)

['Python', 'programming', 'is', 'fun', 'and', 'powerful!']